<div class="comment">
  <div class="user-name">
    <% if comment.user %>
        <%= comment.user.name %>
    <% end %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
    <span class="label label-warning"><%= time_ago_in_words(comment.created_at) %></span>
  </div>
  <% if comment.user == current_user %>
      <%= link_to post_comment_path(post, comment), id: "post#{post.id}comment#{comment.id}", method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
          <span class="glyphicon glyphicon-trash"></span>
      <% end %>
  <% end %>
</div>