<li>
  <% if user.avatar_file_size %>
      <%= image_tag user.avatar,size:50 %>
  <% else%>
      <%= image_tag "default-avatar.jpg",size:50 %>
  <% end %>


  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                    data: { confirm: "You sure?" },class: "btn btn-xs btn-success" %>
  <% end %>

</li>