<% provide(:title, 'Edit User') %>
<% provide(:button_text, 'Edit Submit') %>
<h1>Update your profile</h1>

<div class="row">


       <%= render 'form' %>

  <div class="gravatar_edit">
    <%= gravatar_for @user %>
    <%= image_tag @user.avatar,size:'100x100'%>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>

</div>
